.nutrition-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nutrition {
    display: flex;
    background-color: #FBFBFB;
    width: 258px;
    height: 124px;
    border-radius: 5px 0px 0px 0px;
    align-items: center;

    &__icon {
        width: 60px;
        height: 60px;
        margin-left: 32px;
      }
      

    &__count-container {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
    }

    &__count {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px; 
        color: #282D30;      
    }

    &__type {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;   
        color: #74798C;   
        padding-top: 4px; 
    }

        @media (max-width: 1439px) {
            width: 100px; 
            margin: 0 auto;
            flex-direction: column;
            justify-content: center;
            gap: 15px;

            &__icon {
                width: 40px;
                height: 40px;
                margin-left: 10%;
              }

            &__count-container {
                margin-left: 12px;
                align-items: center;
            
            }
              &__count {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 700;
                line-height: 16px; 
                color: #282D30;      
            }

            &__type {
                font-size: 12px;
                font-weight: 500;
                line-height: 20px;   

            }

        }

}